<!DOCTYPE html>
<html>
  <head>
    <title>Discover Box Hills | <%= @title %></title>
  </head>
  <body>
    <h1>History</h1><br>
    <p>
      <b> General Information </b><br>
		Box Hill is a summit of the North Downs in Surrey, approximately 30 km (19 mi) south west of London. The hill takes its name from the ancient box woodland found on the steepest west-facing chalk slopes overlooking the River Mole. The western part of the hill is owned and managed by the National Trust, whilst the village of Box Hill lies on higher ground to the east. The highest point is Betchworth Clumps at 224 m (735 ft) above OD, although the Salomons Memorial overlooking the town of Dorking is the most popular viewpoint.
		Box Hill lies within the Surrey Hills Area of Outstanding Natural Beauty and forms part of the Mole Gap to Reigate Escarpment Site of Special Scientific Interest. The north- and south-facing slopes support an area of chalk downland, noted for its orchids and other rare plant species. The hill provides a habitat for 40 species of butterfly,and has given its name to a species of squash bug, now found throughout south east England.
		An estimated 850,000 people visit Box Hill each year. The National Trust visitors' centre provides both a cafeteria and gift shop and the panoramic views of the western Weald may be enjoyed from the North Downs Way, a long distance footpath that runs along the southern escarpment. Box Hill will feature prominently on the route of the 2012 Summer Olympics cycling road race events, the men doing nine circuits and the women doing two circuits.
	<br>
	 <b> Geography </b><br>	
		Box Hill stands at the south eastern corner of the Mole Gap, the valley carved by the River Mole through the North Downs. Box Hill School is located in the village of Mickleham about 1.4 kilometres (0.9 mi) to the north and the hill overlooks the town of Dorking to the south west. The hill is approximately 30 km (19 mi) south west of central London.
		The National Trust owns and manages much of the western part of Box Hill. Leopold Salomons, owner of Norbury Park donated 95 ha (230 acres) in 1914 in order to protect it from development. Additional land was purchased or donated between 1921 and 1999 and today the Box Hill estate covers an area of around 490 ha (1,200 acres), including Mickleham Downs to the north and Lower Boxhill Farm to the south.
		The village of Box Hill is located to the east of the National Trust property. The earliest flint cottages date from the 1800s, although much of the village was constructed in the first half of the 20th century.By 2005 there were more than 800 dwellings of which over five hundred were mobile homes. An estimated 41% of the community is aged 60 or over. St Andrew's Church, part of the Parish of Headley, was opened in 1969 and the village hall opened in 1972.
    </p>


  </body>
</html>