<!DOCTYPE html>
<html>
  <head>
    <title>Discover Box Hills | <%= @title %></title>
  </head>
  <body>
    <h1>Web App</h1>
    <p>
      This is the find-us page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>


  </body>
</html>