<!DOCTYPE html>
<html>
  <head>
    <title>Discover Box Hills | <%= @title %></title>
  </head>
  <body>

    <h1>Web App</h1>

<p>

	<div class ="column2">
	<%= image_tag("gallery.gif", :alt =>"") %>
	</div>
	<div class = "colomn1">
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
	 This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
	 This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
	 This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
	 This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
	</div>
</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>



  </body>
</html>