<div id="footer-content">

	<div class="column1">
		<h2> Addres goes here</h2>
	</div>
	<div class="column2">
		<ul class="list">
			<a href="#">Book Database</a>   
			<a href="#">Donate</a></li>
		  <% if signed_in? %>
			 <%= link_to "Users", users_path %>   
		     <%= link_to "Settings", edit_user_path(current_user) %>   
			<%= link_to "Sign out", signout_path, :method => :delete %></li>
		  <% end %>
	</div>
</div>