<div id="footer-content">

	<div class="column1">
		<h2> Addres goes here</h2>
	</div>
	<div class="column2">
		<ul class="list">
			<li><a href="#">Book Database</a></li>
			<li><a href="#">Donate</a></li>
		</ul>
	</div>
</div>