<header>
	<div id ="header">
		<div id="logo">
		
    		<%= image_tag("fobh3.png", :alt => "FOBH", :class => "round") %>
			<%= image_tag("fobh2.png", :alt => "FOBH", :class => "round") %>
		</div>
	</div>	
    
</header>